@model Model.Entities.DownloadedPacksInfo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DownloadedPacksInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GamePack.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GamePack.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GamePack.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GamePack.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DownloadedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DownloadedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GamePack.Paid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GamePack.Paid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
