@model IEnumerable<Model.Entities.DownloadedPacksInfo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GamePack.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GamePack.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownloadedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GamePack.Paid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GamePack.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamePack.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DownloadedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamePack.Paid)
            </td>
        </tr>
}
    </tbody>
</table>
